.card {
  max-width: 413px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 250px;
  margin: 0;
}

.card__like-btn {
  background-image: url(../images/heart_icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  background-repeat: no-repeat;
}

.card__like-btn:hover {
  cursor: pointer;
  opacity: 100%;
}

.card__like-btn_liked {
  background-image: url("../images/Heart_like_new.svg");
  opacity: 100%;
}

.card__like-btn_liked:hover {
  background-image: url("../images/Like_Icon_hover.svg");
}

.card__delete-btn {
  background-image: url("../images/trash_icon.svg");
  position: absolute;
  display: block;
  background-color: transparent;
  border: transparent;
  height: 32px;
  width: 32px;
  top: 10px;
  right: 10px;
  background-repeat: no-repeat;
}

.card__delete-btn:hover {
  background-image: url("../images/trash_icon_hover.svg");
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    max-width: 235px;
  }
}

@media screen and (max-width: 320px) {
  .card__title {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    width: 95px;
    height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .card__like-btn {
    width: 20px;
    height: 18px;
    border: 2px;
    padding-right: 16px;
    background-size: contain;
  }
}

@media screen and (max-width: 320px) {
  .card {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .card__delete-btn {
    display: flex;
  }
}
